In [2]:
import pandas as pd

# Creating Dataframes

In [2]:
## Dictionary: colum: [items]
'''
data = ({
column: items,
column: items
})
'''

df = pd.DataFrame({
    'ID': [1,2,3,4],
    'Name': ['D', 'S', 'S', 'M'],
    'Age': [26, 24, 27, 22]
})

print(df)

   ID Name  Age
0   1    D   26
1   2    S   24
2   3    S   27
3   4    M   22

In [4]:
## List: [row1],[row2]
'''
data = ([
[row1col1, row1col2],
[row2col1, row2col2]
], columns = [col1, col2])
'''

df = pd.DataFrame([
    [1, 'D', 26],
    [2, 'S', 24], 
    [3, 'S', 27],
    [4, 'M', 22]
], columns = ['ID', 'Name', 'Age'])

print(df)

   ID Name  Age
0   1    D   26
1   2    S   24
2   3    S   27
3   4    M   22

# Loading External Data

In [26]:
# Reading:
data = pd.read_csv('C:/Users/Dillon/Downloads/pokemon.csv')
print(data)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

In [15]:
# Writing:
# data.to_csv('new_file_name')
# Will save to current directory

In [27]:
# head
print(data.head())
print('')
print(data.head(2))

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False

   #       Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0  1  Bulbasaur  Grass  Poison    318  45      49       49       65       65
1  2    Ivysaur  Grass  Poison    405  60      62       63       80       80

   Speed  Generation  Legendary
0     45           1      False
1     60           1      False

In [28]:
# info
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB
None

# Accessing Parts of Data

In [32]:
# columns
    # Column as key:
print(data['Name'])
print('')
    # If a proper variable:
print(data.Name)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [34]:
# Multiple Columns [[col1, col2]]
print(data[['Name','Type 1']])

                      Name   Type 1
0                Bulbasaur    Grass
1                  Ivysaur    Grass
2                 Venusaur    Grass
3    VenusaurMega Venusaur    Grass
4               Charmander     Fire
..                     ...      ...
795                Diancie     Rock
796    DiancieMega Diancie     Rock
797    HoopaHoopa Confined  Psychic
798     HoopaHoopa Unbound  Psychic
799              Volcanion     Fire

[800 rows x 2 columns]

In [36]:
# Rows
print(data.iloc[0])

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
Total               318
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [37]:
# multiple rows
print(data.iloc[0:10:2])

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1                  Bulbasaur  Grass  Poison    318  45      49       49
2  3                   Venusaur  Grass  Poison    525  80      82       83
4  4                 Charmander   Fire     NaN    309  39      52       43
6  6                  Charizard   Fire  Flying    534  78      84       78
8  6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
2      100      100     80           1      False
4       60       50     65           1      False
6      109       85    100           1      False
8      159      115    100           1      False

In [39]:
# multiple rows and columns
print(data.iloc[0:10,1])

0                    Bulbasaur
1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object

# Using logic to select rows

In [41]:
# Selecting gen 1 pokemon
gen_1 = data[data.Generation == 1]
print(gen_1)

       #                   Name   Type 1    Type 2  Total   HP  Attack  \
0      1              Bulbasaur    Grass    Poison    318   45      49
1      2                Ivysaur    Grass    Poison    405   60      62
2      3               Venusaur    Grass    Poison    525   80      82
3      3  VenusaurMega Venusaur    Grass    Poison    625   80     100
4      4             Charmander     Fire       NaN    309   39      52
..   ...                    ...      ...       ...    ...  ...     ...
161  149              Dragonite   Dragon    Flying    600   91     134
162  150                 Mewtwo  Psychic       NaN    680  106     110
163  150    MewtwoMega Mewtwo X  Psychic  Fighting    780  106     190
164  150    MewtwoMega Mewtwo Y  Psychic       NaN    780  106     150
165  151                    Mew  Psychic       NaN    600  100     100

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         49       65       65     45           1      False
1         63       80       80     60           1      False
2         83      100      100     80           1      False
3        123      122      120     80           1      False
4         43       60       50     65           1      False
..       ...      ...      ...    ...         ...        ...
161       95      100      100     80           1      False
162       90      154       90    130           1       True
163      100      154      100    130           1       True
164       70      194      120    140           1       True
165      100      100      100    100           1      False

[166 rows x 13 columns]

In [47]:
# Selecting fire/flying pokemon
fire_flying = data[(data['Type 1'] == 'Fire') & (data['Type 2'] == 'Flying')]
print(fire_flying)

       #                       Name Type 1  Type 2  Total   HP  Attack  \
6      6                  Charizard   Fire  Flying    534   78      84
8      6  CharizardMega Charizard Y   Fire  Flying    634   78     104
158  146                    Moltres   Fire  Flying    580   90     100
270  250                      Ho-oh   Fire  Flying    680  106     130
730  662                Fletchinder   Fire  Flying    382   62      73
731  663                 Talonflame   Fire  Flying    499   78      81

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
6         78      109       85    100           1      False
8         78      159      115    100           1      False
158       90      125       85     90           1       True
270       90      110      154     90           2       True
730       55       56       52     84           6      False
731       71       74       69    126           6      False

In [49]:
# Selecting JUST the names of the above data
fire_flying = data['Name'][(data['Type 1'] == 'Fire') & (data['Type 2'] == 'Flying')]
print(fire_flying)

6                      Charizard
8      CharizardMega Charizard Y
158                      Moltres
270                        Ho-oh
730                  Fletchinder
731                   Talonflame
Name: Name, dtype: object

In [52]:
# isin: allows us to select multiples instead of name = ______ or name = _______ or name = ______
'''
data[data[COLUMN].isin([WHAT YOU ARE LOOKING FOR])]
'''

three_types = data[data['Type 1'].isin(['Fire', 'Water', 'Grass'])]
print(three_types)

       #                   Name Type 1  Type 2  Total   HP  Attack  Defense  \
0      1              Bulbasaur  Grass  Poison    318   45      49       49
1      2                Ivysaur  Grass  Poison    405   60      62       63
2      3               Venusaur  Grass  Poison    525   80      82       83
3      3  VenusaurMega Venusaur  Grass  Poison    625   80     100      123
4      4             Charmander   Fire     NaN    309   39      52       43
..   ...                    ...    ...     ...    ...  ...     ...      ...
740  672                 Skiddo  Grass     NaN    350   66      65       48
741  673                 Gogoat  Grass     NaN    531  123     100       62
762  692              Clauncher  Water     NaN    330   50      53       62
763  693              Clawitzer  Water     NaN    500   71      73       88
799  721              Volcanion   Fire   Water    600   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
740       62       57     52           6      False
741       97       81     68           6      False
762       58       63     44           6      False
763      120       89     59           6      False
799      130       90     70           6       True

[234 rows x 13 columns]

In [54]:
gen_to_3 = data[data.Generation.isin([1,2,3])]
print(gen_to_3)

       #                   Name   Type 1   Type 2  Total   HP  Attack  \
0      1              Bulbasaur    Grass   Poison    318   45      49
1      2                Ivysaur    Grass   Poison    405   60      62
2      3               Venusaur    Grass   Poison    525   80      82
3      3  VenusaurMega Venusaur    Grass   Poison    625   80     100
4      4             Charmander     Fire      NaN    309   39      52
..   ...                    ...      ...      ...    ...  ...     ...
427  385                Jirachi    Steel  Psychic    600  100     100
428  386     DeoxysNormal Forme  Psychic      NaN    600   50     150
429  386     DeoxysAttack Forme  Psychic      NaN    600   50     180
430  386    DeoxysDefense Forme  Psychic      NaN    600   50      70
431  386      DeoxysSpeed Forme  Psychic      NaN    600   50      95

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         49       65       65     45           1      False
1         63       80       80     60           1      False
2         83      100      100     80           1      False
3        123      122      120     80           1      False
4         43       60       50     65           1      False
..       ...      ...      ...    ...         ...        ...
427      100      100      100    100           3       True
428       50      150       50    150           3       True
429       20      180       20    150           3       True
430      160       70      160     90           3       True
431       90       95       90    180           3       True

[432 rows x 13 columns]

# Resetting Indexes

In [57]:
# Need to reset indexes when we make new tables
# fire_flying has an irregular index

# drop - Removes old index. inplace - Replaces old dataframe
fire_flying.reset_index(drop = True, inplace = True)
print(fire_flying)


# We might keep the original index if it's an ID number etc

0                    Charizard
1    CharizardMega Charizard Y
2                      Moltres
3                        Ho-oh
4                  Fletchinder
5                   Talonflame
Name: Name, dtype: object

# Modifiying Dataframes

In [17]:
# Adding Columns
data = pd.DataFrame([
    [1, 'D', 26],
    [2, 'S', 24]
], columns = ['ID', 'Name', 'Age'])

print(data)

# Adding different entries for each row
data['Hair Colour'] = ['Blonde', 'Black']
print(data)

# Adding one value for each row
data['Person?'] = 'Yes'
print(data)

# Adding a column based on another column
data['Year of Birth'] = 2020-data.Age
print(data)

   ID Name  Age
0   1    D   26
1   2    S   24
   ID Name  Age Hair Colour
0   1    D   26      Blonde
1   2    S   24       Black
   ID Name  Age Hair Colour Person?
0   1    D   26      Blonde     Yes
1   2    S   24       Black     Yes
   ID Name  Age Hair Colour Person?  Year of Birth
0   1    D   26      Blonde     Yes           1994
1   2    S   24       Black     Yes           1996

In [29]:
# Column Operations - Modifying values in a column
# Adding Columns
data = pd.DataFrame([
    [1, 'D', 26],
    [2, 'S', 24]
], columns = ['ID', 'Name', 'Age'])

data['Age'] = data['Age'].apply(float)
print(data)

   ID Name   Age
0   1    D  26.0
1   2    S  24.0

In [38]:
# Using Lambda functions
'''
name = lambda var: [Outcome if True] if [Condition] else [Outcome if False]
'''
example_lambda = lambda x: x**2
print(example_lambda(6))

if_lambda = lambda x: x**2 if x >= 10 else x + 1
print(if_lambda(5))
print(if_lambda(15))


# Using Lambdas on Columns
data = pd.DataFrame([
    [1, 'D', 26],
    [2, 'S', 24]
], columns = ['ID', 'Name', 'Age'])

data['Squared Age'] = data['Age'].apply(lambda x: x**2)
print(data)


# Using Lambdas on Rows
data = pd.DataFrame([
    [1, 'D', 26],
    [2, 'S', 24]
], columns = ['ID', 'Name', 'Age'])

data['ID + Age'] = data.apply(lambda row: row['ID'] + row['Age'], axis = 1)
print(data)

## If the lambda function is long and complicated keep it seperate from line 29.

36
6
225
   ID Name  Age  Squared Age
0   1    D   26          676
1   2    S   24          576
   ID Name  Age  ID + Age
0   1    D   26        27
1   2    S   24        26

# Renaming Columns

In [40]:
# All Columns
data = pd.DataFrame([
    [1, 'D', 26],
    [2, 'S', 24]
], columns = ['ID', 'Name', 'Age'])

print(data)

data.columns = ['One Digit', 'Letter', 'Two Digits']
print(data)

   ID Name  Age
0   1    D   26
1   2    S   24
   One Digit Letter  Two Digits
0          1      D          26
1          2      S          24

In [43]:
# Individual Columns
data = pd.DataFrame([
    [1, 'D', 26],
    [2, 'S', 24]
], columns = ['ID', 'Name', 'Age'])

print(data)

data.rename(columns = {
    'ID': 'Id',
    'Age': 'Random Number'
}, inplace = True)

print(data)

   ID Name  Age
0   1    D   26
1   2    S   24
   Id Name  Random Number
0   1    D             26
1   2    S             24